node_modules
.next
.env
.env.*
.env.local
# data/
public/media/
# *.db
next.zip
documentation/admin-manual.html
data/payload.db

# OS artifacts
.DS_Store
**/.DS_Store

# Playwright test artifacts
test-results/
